body {
  background-color: #462749;
  color: #ffeafc;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
  color: #e086d3;
}

nav a {
  color: #f2d1c9;
  margin-right: 16px;
  text-decoration: none;
  transition: all 0.3s;
}

nav a:hover {
  color: #fce7e1;
}

.portrait {
  width: 250px;
}

input {
  border: 1px solid #5e3961;
  padding: 8px;
  background-color: #502e53;
  caret-color: #a980ac;
  color: #c6a7c9;
}

input::placeholder {
  color: #a980ac;
}

button {
  cursor: pointer;
  border: 1px solid#5e3961;
  background-color: #452747;
  color: #a980ac;
  padding: 8px;
}

button:hover {
  background-color: #502e53;
}
